body { margin: 0; }
div {
    margin: 0;
    padding: 0;
    display: block;
}
#body {
    background-color: #B0B0B0;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}
#body a {
    color: #000;
    text-decoration: none;
}
#headerDiv {
    background-color: khaki;
    height: 30px;
    flex-shrink: 0;
    display: inline-flex;
    border-bottom: 3px solid #ccc;
}
#titleDiv {
    color: #000;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 14pt;
    /* width: 500px; */
    width: 30%;
    /* line-height: 23pt; */
    align-self: center;
}
#controlButtons {
    display: inline-flex;
    width: 40%;
    justify-content: space-evenly;
}
#controlButtons button {
    margin-right: 5px;
}
#linksDiv {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
    font-size: 13pt;
}
#bodyDiv {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    height: inherit;
}

#leftDiv {
    color: gray;
    width: 400px;
    display: inline-flex;
    flex-direction: column;
}
#leftDivControls {
    display: inline-flex;
    flex-direction: row;
    padding: 2px;
}
#showGridCheckbox { 
    margin-left: 8px;
}
#code {
    color: blue;
    width: inherit;
    height: 90%;
    resize: none;
    flex-grow: 1;
}
#runCodeBtn {
    width: inherit;
    height: 10%;
    flex-shrink: 0;
}
#rightDiv {
    width: 700px;
    height: 100%;
    right: 0;
    display: inline-flex;
    flex-direction: column;
}
#mainDiv {
    color: red;
    width: 100%;
    height: 85%;
    right: 0;

}
#outputDiv {
    border-top: 3px solid #ccc;
    height: 14%;
    display: inline-flex;
    flex-direction: row;
}
#outputText {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    resize: none;
}
#outputTextLabel {
    margin-left: 5px;
}
#mainDivBorder {
    content: '';
    background-color: #ccc;
    /* position: absolute;
    left: 40px; */
    width: 4px;
    height: 100%;
    /* cursor: ew-resize; */
}
#axisDiv {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
}
#footerDiv {
    background-color: #B0B0B0;
    border-top: 3px solid #ccc;
    height: 25px;
    font-size: 11pt;
    display: flex;
    flex-direction: row-reverse;
}
#contactDetails {
    margin-right: 5px;
    font-weight: bold;
    align-self: center;
}
#readMeLinkPopup { 
    position: absolute;
    display: none;
    text-align: center;
    background-color: #6495ed;
    color: #fff;
    padding: 6px;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    font-size: 14px;

}

#readMeLinkPopup::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 43%;
    border: .75rem solid transparent;
    border-top: none;

    border-bottom-color: #6495ed;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}